 /*Styling for ColdAirOutbreaks index.html*/

 .jumbotron{
  background-image: url("ColdAirOutbreaks/images/Cover.png");
  background-size: cover;
}

.image{
    content:url("images/Mortality.jpg");
    max-width:100%;
    height: auto;
}
