// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #2b2b2b;

// Override Bootstrap default state colors

$primary: $black;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
