 /*Styling for ColdAirOutbreaks index.html*/


 .dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

 .jumbotron{
  background-image: url("images/Cover.png");
  background-size: cover;
}

  /*Carousel Styling*/
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
    }

    .carousel-control-next-icon {
      background-color: black;

    }
  
   .carousel-caption{
      position: relative;
      left: 0;
      margin-bottom: 20px;
      top: 0;
      color: black;
   }
  
   .carousel-indicators li{
    background-color: white;
    border-color: black;
   }
  
   .carousel-indicators .active {
      background-color: gray;
      border-color: black;
  }
  
  
  
  /*Dropdown*/
  .dropbtn {
    background-color: #191970;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100px;
    border: none;
    position: relative;
  }
  
  .dropbtn2 {
    background-color: #191970;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100px;
    border: none;
    position: relative;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
    